body {
            background-color: #e4e4ff;
            margin: 0 20%;
            font-family: "Arvo", serif;
            text-align: center;
            line-height: 1.8em;
        }
        h1 {
            text-align: center;
            font-family: "Noto Serif", serif;
            font-weight: 300;
            font-size: 3em;
            color:#1d607e;
            border-bottom: 2px solid #739bd0;
            margin-top: 20px;
            margin-bottom: 30px;
            line-height: 2em;
        }

    h2{
    color: #4871b1;
    font-family: "Arvo", serif;
    font-size: 1.5em;
    line-height: 1em;
    }

 footer {
            text-align: center;
            border-top: 2px solid #85a6d1;
            margin-top: 40px;
            padding-top: 1em;
            font-size: 0.9em;
            color: #333;
        }
footer img {
width: 40px;
height: 40px;
margin-left: .5em;
margin-right: .5em;
}

ul {
      list-style-position: inside;
      padding-left: 0;
      margin: 10px 0;
      text-align: left;
      display: inline-block;
    }

 li {
      margin: 5px 0;
    }

    .work-section {
      display: flex;  
      gap: 30px; 
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
    }
    img:hover {
    transform:scale(1.1);
    transition: .2s;
    }