

body {
    background-color: #fffade;
    font-family: "Arvo", serif;
    line-height: 1.5em;
    margin: 0;
    color: #333333;
}
#wrap {
  width: 80%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 3em;
  background: #fff;
  padding: 1em;
}
h1 {
    text-align: center;
    margin: 0;
    font-family: "Noto Serif", serif;
    border-bottom: 3px dashed #ff8989;
    line-height: 2em;
    background-color: #fffec7;
    
    
}
h2{
color: #d1633c;
font-size: 1em;
}

h3{
color: #ff8989;
font-size: 2em;
text-align: center;
}


.logo {
  margin: auto;
  padding-top: 1em;
}

footer {
  text-align: center;
  border-top: 2px dashed #ff8989;
  font-size: 0.9em;
  color: #333;
  background-color: #fffec7;

}
footer img {
width: 40px;
height: 40px;
margin-left: .5em;
margin-right: .5em;
}

.container {
display: flex;
justify-content: center;
}
.container img {
  width:50%
}

.container:hover {
transform:scale(1.02);
transition: .2s;
}



nav ul {
  list-style-type: none;
  padding: 0;
  display: table;
  margin: 0 auto;
  background: rgba(219, 29, 29, 0.3);
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: black;
  padding: 0.8em;
  text-decoration: none;
}

nav li a:hover {
  color: #fffd74;
  transition: .2s;
}